.footer-line {
  width: 75%;
}

footer {
  background-color: #434f43;
  color: #f6f2eb;
  padding: 20px 10px;
}

.box-1 {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.box-1 p {
  font-size: 15px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.box-2 {
  margin-top: 30px;
}

.copyright {
  font-size: 11px;
  float: right;
}
